BODY
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR:#FAFAFA

}
A:hover
{
    COLOR:#000000;
    TEXT-DECORATION:underline
}
A:active
{
     /*visited link activate later for easier development*/
    color:red;
}
A:visited
{
    COLOR:purple;
}

TR
{
   VERTICAL-ALIGN:top;
}


img
{
    border:none;
}


.Table_Normal
{
   WIDTH:700;
   HEIGHT:400;
   BACKGROUND-COLOR:#FFFFFF;
}

.Table_Normal_Header
{
   WIDTH:700;
}
table.documentation_table
{
   BACKGROUND-COLOR:#FFFFFF;
}
table.documentation_table td
{

}
.index
{
   border:none;
   margin-left:15px;
}


/*The style elements for normal page text*/
.Text_Main_Header
{
    FONT-SIZE: 16pt;
    FONT-FAMILY: Verdana;
    COLOR: #111100;
	 FONT-WEIGHT:bold;

    LETTER-SPACING:2;

    MARGIN-TOP: 10px;
    MARGIN-LEFT: 15px;
    MARGIN-RIGHT: 20px

}

.Text_Header
{
    FONT-SIZE: 14pt;
    FONT-FAMILY: Verdana;
    COLOR: #111100;

     LETTER-SPACING:1;
     

    MARGIN-TOP: 10px;
    MARGIN-LEFT: 20px;
    MARGIN-RIGHT: 10px

}
.Text_Small_Header
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana;
    COLOR: #111100;

	 FONT-WEIGHT:bold;
    LETTER-SPACING:1;
     

    MARGIN-TOP: 3px;
    MARGIN-LEFT: 20px;
    MARGIN-RIGHT: 10px

}
/*Third Level Header*/
.Text_Small_Header
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana;
    COLOR: #111100;
    FONT-WEIGHT:bold;


    MARGIN-TOP: 10px;
    MARGIN-LEFT: 25px;
    MARGIN-RIGHT: 20px
}
.Text_Normal
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana;
    COLOR: #111100;


    MARGIN-TOP: 10px;
    MARGIN-LEFT: 25px;
    MARGIN-RIGHT: 20px
}

.Text_Description
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana;
    FONT-STYLE: italic;

    COLOR: #111100;

    MARGIN-LEFT: 25px;
    MARGIN-RIGHT: 20px
}

.Text_Right
{
    TEXT-ALIGN:right;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana;
    COLOR: #111100;


    MARGIN-TOP: 10px;
    MARGIN-LEFT: 25px;
    MARGIN-RIGHT: 20px
}
.Text_Link
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana;
    COLOR: #555599;

}
.Text_Link_Small
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana;
    COLOR: #555599;
}
/*This is special style elements for tables*/
.Table_Text_Header
{
    FONT-SIZE: 12pt;
    FONT-FAMILY: Verdana;
    COLOR: #111100;

     LETTER-SPACING:1;
     FONT-WEIGHT:bold;
}

.Table_Text_Normal
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana;
    COLOR: #111100;
}
.Table_Text_Small
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana;
    COLOR: #111100;
}

.Table_Text_Description
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana;
    FONT-STYLE: italic;
}


div.Menu_Header_Link
{
    position: relative;
    margin-left: 5px;
    margin-right: 5px;


}

div.Menu_Header_Link A
{
    border: 1px solid #000000;
    background:#FFFFFF;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana;
    COLOR: #111100;
    padding:2px 10px;

    TEXT-DECORATION:none;

}
div.Menu_Header_Link A:visited
{
    border: 1px solid #000000;
    background:#FFFFFF;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana;
    COLOR: #111100;
    padding:2px 10px;

    TEXT-DECORATION:none;

}
div.Menu_Header_Link A:hover
{
    TEXT-DECORATION:none;
    background-color:#A43C3C;
    color:#FFFFFF;
}

/*Style class for marking links in <li> list*/
li.marked
{
    color:#040854;
    font-weight:bold;
}
li.marked A:visited
{
    color:#040854;
    font-weight:bold;
}

/* A style guide for the footer */
div.Footer
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana;
    COLOR: #110000;
}
div.Footer A
{
    COLOR: #996666;
    TEXT-DECORATION:none;
    MARGIN-LEFT: 3px;
    MARGIN-RIGHT: 3px
}
.Footer A:hover
{
    COLOR: #000000;
    TEXT-DECORATION:none;
}
